$bg-color: white;
$box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
$bg: #8ec5fc;
$bg-image: #e0c3fc;
$button-focus-bg: #74ebd5;
$butt-focus-img: #9face6;
$button-date-selected: #21d4fd;
$button-date-img: #b721ff;
$button-focus-today: #85ffbd;
$button-focus-today-img: #fffb7d;
$color-text: #3b5050;
$border-button-focus-today: rgb(205, 248, 222);
$bg-icon: #fbfbfb;
$border-input: 2px solid rgb(203, 202, 202);
$bg-main-popup: rgb(117, 117, 36);
$bg-header-year: rgb(99, 240, 245);
$color-title: rgb(74, 74, 76);
$button-bg-today: rgb(238, 140, 231);
$border-button: 1.8px solid rgb(111, 105, 105);
$hover-button: rgb(235, 235, 235);
$border-radius: 100%;
$font-family: Arial, Helvetica, sans-serif;
$repeat-grid: repeat(4, 1fr);
$mobile-width: 600px;
$tablet-width: 1024px;
$font-weight: 540;
